<form #vehiculosForm="ngForm"(ngSubmit)="onSubmit(vehiculosForm)">
  <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="vehiculosService.selectedVehiculos.$key">
  <div class="form-group">
    <label>Placa</label>
    <input class="form-control" name="placa" #name="ngModel"[(ngModel)]="vehiculosService.selectedVehiculos.placa" placeholder="Placa Vehiculo">
  </div>
  <div class="form-group">
      <label>Tipo Combustible</label>
      <input class="form-control" name="tipocombustible" #name="ngModel"[(ngModel)]="vehiculosService.selectedVehiculos.tipocombustible" placeholder="Combustible Vehiculo">
    </div>
    <div class="form-group">
        <label>Cantidad De Galones</label>
        <input class="form-control" name="cantidad" #name="ngModel"[(ngModel)]="vehiculosService.selectedVehiculos.placa" placeholder="cantidad">
      </div>
  <div class="form-group">
      <label>Valor a Pagar</label>
    <div class="form-group">
      <div class="input-gruop-addon">
        <i class="fa fa-dollar"></i>
    
    <input class="form-control" name="valor" #name="ngModel"[(ngModel)]="vehiculosService.selectedVehiculos.placa" placeholder="Valor a pagar">
  </div>
<div class="form-group">
      <button type="submit" class="btn btn-default" [disable]="!vehiculosForm.valid">
        <i class="fa fa-floppy-o"></i>Crear</button>
      <button type="button" class="btn btn-default" *ngIf="vehiculosService.selectedVehiculo.$key!=''"(click)="onDelete(vehiculoForm)">
          <i class="fa fa-trash"></i>Eliminar</button>
      <button type="button" class="btn btn-default"(click)="resetForm(vehiculosForm)">
          <i class="fa fa-repeat"></i>Limpiar</button>
    </div>    
</form>